;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[reagent "0.10.0"]
  [markdown-to-hiccup "0.6.2"]
  [venantius/glow "0.1.6"]]
 :dev-http {8080 "public"}
 :builds
 {:frontend
  {:target :browser
   :module-hash-names true
   :asset-path "js"
   :build-hooks
   [(shadow.html/copy-file
     "resources/index.html"
     "public/index.html")
    (tech.thomas-sojka.shadow-tailwind.dev-hook/build-dev-css
     "resources/styles.css"
     "public/css/styles.css")]
   :modules {:main {:init-fn tech.thomas-sojka.hiccup-d3.app/init}}}}}
